@import "../lib/variables.scss";

#calendar {
  max-width: 1100px;
  margin: 40px auto;
}

.fc-event-title-container {
  background-color: $calendar-event-title;
}

.fc-event-time {
  background-color: $calendar-event;
}

.fc-event-title {
  font-size: 2.3vh;
  text-align: center;
}

a.fc-col-header-cell-cushion {
  color: $a-color !important;

  &:hover {
    color: $a-hover-color !important;
  }
}

.fc .fc-button-primary {
  background-color: $calendar-toolbar-color !important;

  &:hover {
    background-color: $calendar-toolbar-color-hover !important;
  }
}

// Disable click for events that last more than one day
// (i.e: semester indication)
a.fc-daygrid-block-event {
  pointer-events: none;
  cursor: default;
}