@import "../lib/lib.scss";
@import "../lib/variables.scss";

a {
  color: $a-color;

  &:hover {
    color: $a-hover-color;
  }
}

@media(max-width: 768px) {
  .is-flex.is-vertical {
      .firstname {
          padding-left: 0% !important;
      }
    flex-direction: column;
  }
}