@charset "utf-8";

@import "../lib/variables";
@import "../lib/lib";
$padding: 30vh;

.class-event {
    border-radius: 8vh;
}

#exam {
    background-color: $exam-color;
}

#notice {
    background-color: $notice-color;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

a {
    color: $a-color;

    &:hover {
        color: $a-hover-color;
    }
}

@media (min-width: 1024px) {
    .padding-left {
        padding-left: $padding;
    }

    .padding-right {
        padding-right: $padding;
    }
}