@import "../lib/lib.scss";
@import "../lib/variables.scss";

form {
  width: 40%;
  margin: auto;

  .field-label {
    flex-basis: auto !important;
  }

  .field-body {
    justify-content: right;
  }

  .field.is-narrow {
    width: 100%;
  }

  .button {
    background-color: $navbar-button-color !important;

    &:hover {
      background-color: $a-hover-color !important;
    }
  }

  .select select {
    border: 1px solid $navbar-button-color !important;
  }

  .select:after {
    border-color: $navbar-button-color !important;
  }
}

@media (max-width: 768px) {
  form {
    width: 100%;

    .field-body {
      justify-content: center;
    }
  }
}