@charset "utf-8";

@import "../lib/variables";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

$navbar-height: 4.25rem;

$navbar-background-color: $q;
$navbar-item-hover-background-color: $navbar-hover-color;
$navbar-dropdown-item-hover-background-color: $navbar-item-hover-background-color;
$navbar-dropdown-background-color: $navbar-background-color;

$navbar-item-color: white;
$navbar-burger-color: $navbar-item-color;
$navbar-item-hover-color: $navbar-item-color;
$navbar-dropdown-arrow: $navbar-item-color;
$navbar-dropdown-item-active-color: $navbar-item-color;
$navbar-dropdown-item-hover-color: $navbar-item-color;

$button-background-color: $navbar-button-color;
$button-color: white;
$button-hover-color: white;
$button-border-color: none;
$button-border-hover-color: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";