@charset "utf-8";

@import "../lib/variables";
@import "../lib/lib";

#index_images {
    width: 100%;
}

.fa-calendar-alt, .fa-user-check {
    font-size: 40vh;
    &:hover {
        color: $a-hover-color;
    }
}

@media(max-width: 768px) {
    #index_images {
        flex-direction: column;

        .column {
            margin: auto;
        }
    }

    .fa-calendar-alt, .fa-user-check {
        font-size: 20vh;
    }
}