@charset "utf-8";

@import "../lib/variables";
@import "../lib/lib";

#index_images {
    width: 100%;
}

@media(max-width: 768px) {
    #index_images {
        flex-direction: column;

        .column {
            margin: auto;
        }
    }
}